<div class="container">
  <div class="row">
　　<!--  @book=Book.find(params[:id]) @newbook=Book.new @user=@book.user @newcomment=Comment.new @comments = @book.comments -->
　　<!--左側-->

　　<%= render "users/list", user: @user, book: @newbook %>

　　<!--右側-->

    <div class="col-xs-9">
	  	<h2 style="margin-top: 0px;">Book detail</h2>
  	  	<table class="table table-hover table-inverse">
  	  	<thead>
  	  	  <tr>
  	  	    <th>image/name</th>
  	  	    <th>title</th>
  	  	    <th>opinion</th>
  	  	    <th class="glyphicon glyphicon-heart"></th>
  	  	    <th>comment</th>
  	  	  </tr>
  	  	</thead>
  		  <tbody>
  		    <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
               <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no-image.jpg"%><br>
               <%= @user.name %>
              <% end %>
            </td>
            <td><%= link_to @book.title , book_path(@book.id) %></td>
            <td><%= @book.body %></td>
            <!--いいね実装部分（js）-->
            <td id="favorite_button_<%= @book.id %>"><%= render "favorites/favorites", book: @book %></td>
            <!--コメント数表示部分-->
            <td>コメント数：<%= @book.comments.count %></td>
　　　　　　<!--ログインユーザー時に本の投稿内容を編集・削除ボタン-->
            <% if user_signed_in? && @book.user_id == current_user.id %>
              <td><%= link_to "Edit" , edit_book_path(@book), class: "btn-sm btn-success" %></td>
              <td><%= link_to "Destroy" , book_path(@book.id), method: :delete, class: "btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %></td>
            <% end %>
        　</tr>
        </tbody>
      </table>
      <!--コメント一覧・コメント投稿フォーム(js)-->
      <div class="comment_<%= @book.id %>"><%= render "comments/comments", book: @book, comments: @comments, newcomment: @newcomment %></div>



    </div>
  </div>
</div>