<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-inverse">
     <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
             <% if user_signed_in? %>
              <li><%= link_to " Home",user_path(current_user.id) ,class: "glyphicon glyphicon-home"%></li>
              <li><%= link_to " Users",users_path, class: "glyphicon glyphicon-user users"%></li>
              <li><%= link_to " Books",books_path, class: "glyphicon glyphicon-book books"%></li>
              <li><%= link_to " logout",destroy_user_session_path, method: :delete ,class: "glyphicon glyphicon-log-out logout" %></li>
            <% else %>
              <li><%= link_to " Home", root_path, class: "glyphicon glyphicon-home home" %></li>
              <li><%= link_to " About",home_about_path, class: "glyphicon glyphicon-link about" %></li>
              <li><%= link_to " sign up", new_user_registration_path, class: "glyphicon glyphicon-edit sign_up" %></li>
              <li><%= link_to " login", new_user_session_path, class: "glyphicon glyphicon-log-in sign_in" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <!--検索機能真ん中寄せ-->
    
　　<div class="container-fluid">
    	<div class="row">
    		<div class="col-md-4"></div>
    		<div class="col-md-4">
        <% if user_signed_in? %>
          <%= form_with url: search_path, method: :get, data: {remote: false} do |f| %>
          <table class="search-table">
            <tr>
              <th><%= f.select :model_name, {'User': '1' , 'Book': '2'}, { include_blank: '選択してください'}, {class: "flex-item" , required: true} %></th>
              <th><%= select(@search_content, :search_method, [["前方一致","forward_match"], ["後方一致","backward_match"], ["完全一致","perfect_match"], ["部分一致","partial_match"]])%></th>
              <th><%= text_field_tag :search %></th>
              <th><%= submit_tag '検索', :name => nil %></th>
            </tr>
          </table>
          <% end %>
        <% end %>
        </div>
		    <div class="col-md-4"></div>
	    </div>
    </div>
    
    <!--フラッシュメッセージ-->

    <% if flash[:notice] %>
     <%= flash[:notice] %>
    <% end %>


    <%= yield %>
  </body>
</html>
